.about {

    &__content-box {
        float: left;
        height: 700px;

        &-outer {
            width: 100%;
            height: 100%;
            display: table;
        }

        &-inner {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &__title {
        text-align: left;
    }

    &__title-underline {
        margin: 0 0 30px 0;
    }

    &__description {
        margin-bottom: 30px;
    }

    &__bg-diagonal {
        width: 60%;
        height: 700px;
        float: right;
        background-image: url("../../assets/images/bg-about-min.jpg");
        border-left: 200px solid white;
        border-top: 700px solid transparent;
    }

}