.btn {
    padding: 12px 26px;
    border: 2px solid #fff;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;

    &-home:hover {
        background-color: #fff;
        color: $mainGray;
    }

    &-blue {
        border-color: $mainGreen;
        color: $mainGreen;
    }

    &-blue:hover {
        background-color: $mainGreen;
        color: #fff;
    }

    &-white {
        border-color: #fff;
        color: #fff;
    }
}