.contact {
    background-color: $mainGray;
    padding-top: 30px;
    text-align: center;

    @mixin atSmall {
        text-align: left;
    }

    &__left {

        & h3 {
            color: #fff;
            font-size: 1.2rem;
            font-weight: 700;

            @mixin atSmall {
                font-size: 1.6rem;
            }
        }

        & p {
            color: #fff;
            margin-bottom: 30px;
            font-size: 0.8rem;

            @mixin atSmall {
                font-size: 1rem;
            }
        }
    }

    &__info {

        & adress {
            color: #fff;
            font-weight: 700;
        }

        & strong {
            font-weight: 700;
            letter-spacing: 1px;
        }
    }

    &__right {
        
        & h3 {
            color: #fff;
            font-size: 1.2rem;
            font-weight: 700;

            @mixin atSmall {
                font-size: 1.6rem;
            }
        }    
    }

}

.form-control {
    border-radius: 0;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 4px 10px;
    margin-bottom: 10px;

    @mixin atSmall {
        padding: 8px 16px;
        font-size: 1rem;
    }
}