.price {

    &__info strong {
        font-weight: 700;
    }

    &--box {
        border-radius: 6px;
        box-shadow: 0 0 10px 0 rgba(52, 198, 211, 0.4);
        padding: 50px 0;
        margin: 40px 0;
        text-align: center;  
        transition: all .3s ease-out;  
    }

    &--box:hover {
        background-color: $mainBlue;
        color: #fff;
        
        p {
            color: #fff;
            transition: all .5s ease-out; 
        }

        a {
            color: #fff;
            transition: all .5s ease-out; 
        }
    }

    &--box__middle {
        background-color: $mainGreen;
        
        @mixin atMedium {
            padding: 90px 0;
        }
    }

    &__title {
        background: $mainGreen;
        color: #fff;
        display: inline-block;
        padding: 7px 15px 7px 15px;
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 30px 0;
    }

    &__title--middle {
        color: $mainGreen;
        background-color: #fff;
    }

    &__value {
        font-size: 2.1rem;
        font-weight: 700;
        margin-bottom: 30px;   
    }

    &__value sup {
        font-size: 1.2rem;
        font-weight: normal;
    }

    &__info {
        list-style: none;
        padding-left: 0;
        margin: 0 5px;
    }

    &__info--middle p {
        color: #fff;
    }

    &__btn {
        margin-top: 50px;
    }

}