.service {

    &-item {
        padding: 20px 0 10px 0;
        margin-bottom: 20px;
        cursor: pointer;

        &--no-margin {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        &__icon {
            color: $mainGreen;
            float: left;
            padding: 15px;
            margin-right: 25px;
            width: 75px;
            text-align: center;
        }

        &__title h3{
            font-size: 1rem;
            font-weight: 400;
            margin: 0 0 10px 0;

            @mixin atMedium {
                font-size: 1.25rem;
            }
        }

        &__description p {
            margin: 0;
            font-size: 0.7rem;
            padding-left: 85px;

            @mixin atMedium {
                font-size: 1rem;
            }
        }

    }

}

.service-item:hover .service-item__icon {
    color: #fff;
    background-color: $mainGreen;
}